/* 블로그 제목과 부제목 스타일 추가 */
.blog-title {
  font-size: 2.5em;
  margin: 0;
  text-align: center; /* 가운데 정렬 */
  padding: 10px 0;
}

.blog-description {
  font-size: 1.2em;
  margin: 0;
  text-align: center; /* 가운데 정렬 */
  color: #777;
  padding: 5px 0 20px 0;
}

/* 기타 스타일 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0 !important; /* 원하는 배경색으로 변경, !important로 우선 순위 높임 */
}

.page-content {
  flex: 1;
  margin-bottom: 100px; /* 푸터 높이만큼 아래쪽 여백 추가 */
}

.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #c9efff !important; /* 푸터 배경색 (원하는 대로 변경 가능) */
  border-top: 1px solid #85daff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 100px; /* 푸터 높이 */
}

.page__footer-follow {
  display: flex;
  align-items: center;
}

.page__footer-follow ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page__footer-follow li {
  margin-right: 10px;
}

.page__footer-follow li:last-child {
  margin-right: 0;
}

.footer-info {
  display: flex;
  align-items: center;
}


