<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title | escape }} | {{ site.title | escape }}</title>

    {% include seo.html %}

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/convi.css' | relative_url }}">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css"></noscript>

    {% if site.head_scripts %}
      {% for script in site.head_scripts %}
        <script src="{{ script | relative_url }}"></script>
      {% endfor %}
    {% endif %}
  </head>
  <body>
    <header class="site-header" role="banner">
      <div class="wrapper">
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title }}</a>
        <h1 class="blog-title">우리 블로그 정상영업 합니다!</h1> <!-- 특정 제목 추가 -->
      </div>
    </header>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <footer class="site-footer" role="contentinfo">
      <div class="wrapper">
        <div class="page__footer-follow">
          <ul class="social-icons">
            {% if site.data.ui-text[site.locale].follow_label %}
              <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
            {% endif %}

            {% if site.footer.links %}
              {% for link in site.footer.links %}
                {% if link.label and link.url %}
                  <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
                {% endif %}
              {% endfor %}
            {% endif %}
          </ul>
        </div>
        <div class="footer-info">
          <div class="page__footer-copyright">
            &copy; {{ site.time | date: '%Y' }} 
            <a href="{{ site.copyright_url | default: site.url }}">{{ site.copyright | default: site.title }}</a>.
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
